[package]
name = "kryoptic"
version = "0.1.0"
edition = "2021"
description = "A PKCS #11 software token written in Rust"
homepage = "https://github.com/latchset/kryoptic"
repository = "https://github.com/latchset/kryoptic"
license = "GPL-3.0"

exclude = [
    ".github/*",
    "openssl/*",
]

[lib]
name = "kryoptic_pkcs11"
crate-type = ["cdylib"]

[[bin]]
name = "conformance"
path = "src/conformance/main.rs"
test = false

[[bin]]
name = "softhsm_migrate"
path = "src/tools/softhsm/migrate.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
bindgen = "0.69"
pkg-config = "0.3"

[dependencies]
asn1 = "0.20.0"
bimap = "0.6.3"
bitflags = "2.4.1"
cfg-if = "1.0.0"
clap = { version = "4.5.26", default-features = false, features = ["cargo", "derive", "help", "std", "usage"] }
constant_time_eq = "0.3.0"
data-encoding = "2.4.0"
getrandom = "0.3"
hex = "0.4.3"
itertools = "0.14.0"
libc = "0.2.151"
num-bigint = "0.4.4"
num-integer = "0.1.45"
num-traits = "0.2.17"
once_cell = "1.18.0"
paste = "1.0.15"
rusqlite = { version = "0.31.0", optional = true }
serde = { version = "1.0.180", features = ["derive"] }
serde_json = "1.0.104"
serial_test = "3.1.1"
toml = { version = "0.8.19", default-features = false, features = ["display", "parse"] }
uuid = { version = "1.4.1", features = ["v4"] }

[features]
aes = []
ecc = []
ecdsa = ["ecc"]
ecdh = ["ecc"]
eddsa = ["ecc"]
ec_montgomery = ["ecc"]
hash = []
hkdf = ["hmac"]
hmac = ["hash"]
pbkdf2 = ["hmac"]
rsa = []
sp800_108 = []
sshkdf = []
tlskdf = []

# Databases
jsondb = ["memorydb"]
memorydb = ["aes", "hkdf", "pbkdf2"] # for encryption
sqlitedb = ["dep:rusqlite", "aes", "hkdf", "pbkdf2"]
nssdb = ["dep:rusqlite", "aes", "hmac", "pbkdf2"]

default = ["standard", "dynamic"]

ecc_all = ["ecdsa", "ec_montgomery", "eddsa", "ecdh"]
hash_all = ["hash", "hmac"]
kdf_all = ["hkdf", "pbkdf2", "sp800_108", "sshkdf", "tlskdf"]

standard = ["sqlitedb", "ecc_all", "hash_all", "kdf_all", "rsa"]

ecc_fips = ["ecdsa", "ecdh"]
fips = ["rusqlite/bundled", "aes", "ecc_fips", "hash_all", "kdf_all", "rsa"]

dynamic = [] # Builds against system libcrypto.so

slow = [] # Enables slow tests
