[package]
name = "kryoptic"
version = "0.1.0"
edition = "2021"
description = "A PKCS #11 software token written in Rust"
homepage = "https://github.com/latchset/kryoptic"
repository = "https://github.com/latchset/kryoptic"
license = "GPL-3.0"

[lib]
name = "kryoptic_pkcs11"
crate-type = ["cdylib"]

[[bin]]
name = "conformance"
path = "src/conformance/main.rs"
test = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
bindgen = "0.69"
pkg-config = "0.3"

[dependencies]
asn1 = "0.16.2"
bimap = "0.6.3"
bitflags = "2.4.1"
cfg-if = "1.0.0"
constant_time_eq = "0.3.0"
data-encoding = "2.4.0"
getrandom = "0.2.10"
hex = "0.4.3"
itertools = "0.13.0"
libc = "0.2.151"
num-bigint = "0.4.4"
num-integer = "0.1.45"
num-traits = "0.2.17"
once_cell = "1.18.0"
paste = "1.0.15"
rusqlite = { version = "0.31.0", optional = true }
serde = { version = "1.0.180", features = ["derive"] }
serde_json = "1.0.104"
serial_test = "3.1.1"
toml = { version = "0.8.19", default-features = false, features = ["display", "parse"] }
uuid = { version = "1.4.1", features = ["v4"] }
zeroize = "1.6.0"

[features]
aes = []
ecc = []
eddsa = []
ec_montgomery = []
hash = []
hkdf = []
hmac = ["hash"]
pbkdf2 = []
rsa = []
sp800_108 = []
sshkdf = []
tlskdf = []

# Databases
jsondb = ["memorydb"]
memorydb = []
sqlitedb = ["dep:rusqlite"]

# these are always required, so easier to specify this way
basic = [ "aes", "hmac", "pbkdf2", "sqlitedb" ]

#select everything by default
# Use --no-default-features --features basic, xxx for custom selections
default = [ "basic", "ecc", "ec_montgomery", "eddsa", "hash", "hkdf", "rsa", "sp800_108", "sshkdf", "tlskdf"]

fips = [ "rusqlite/bundled", "basic", "ecc", "hash", "hkdf", "rsa", "sp800_108", "sshkdf", "tlskdf"]

dynamic = [ ] # Builds against system libcrypto.so

slow = [] # Enables slow tests
